
.txtArea{
	padding: 5px;
    /* position: fixed; */
   border: 0.1px solid BLACK;
    /* background-color: red; */
    height: 100vh ;
    width: 50vw;
    background-color: #ffffff;
   
}

.wholeArea{

    background-color: #f9fbfd;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
  /* *{ 
    position: fixed;
	--ruler-num-c: #88;
	--ruler-num-fz: 10px;
	--ruler-num-pi: 0.75ch;
	--ruler-unit: 1px;
	--ruler-x: 1;
	--ruler-y: 1;

	--ruler1-bdw: 1px;
	--ruler1-c:  #BBB;
	--ruler1-h: 8px;
	--ruler1-space: 5;

	--ruler2-bdw: 1px;
	--ruler2-c:  #BBB;
	--ruler2-h: 20px;
	--ruler2-space: 50;

  background-attachment: fixed;
	background-image:
		linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
	background-position: 0 0;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size:
		calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-x)) var(--ruler1-h),
		calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-x)) var(--ruler2-h),
		var(--ruler1-h) calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-y)),
		var(--ruler2-h) calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-y));
}


 */
