
.container{
    
    display: flex;
    height: 5vh;
    width: 97%;
    background-color:#edf2fa ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    
}

.innerContainer{
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    
}
.leftActionBar{
    display: flex;
}