
.container{
    
    display: flex;
    height: 5vh;
    width: 97%;
    background-color: #edf2fa;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    position: fixed;
    top: 69px;
    z-index: -2;
    right: 10px;
    
    
}


.innerContainer{
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    
}
.leftActionBar{
    display: flex;
    gap: 1rem;
}

.Select{
    height: 22px;
    width: 7rem;
}

.zoom:hover{
    background-color: #dadce0;
    cursor: pointer;
}

.textType{
    display: flex;
    gap: 1rem;
}
.boxD{
    display: flex;

    gap: 1rem;
}

.boxE{
    display: flex;
    gap: 1rem;
}

