
.container{
    
    display: flex;
    height: 5vh;
    width: 97%;
    background-color:#edf2fa ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    
    
}

.innerContainer{
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    align-items: center;
    
}
.leftActionBar{
    display: flex;
}

.Select{
    height: 22px;
    width: 7rem;
}

.zoom:hover{
    background-color: #dadce0;
    cursor: pointer;
}

.textType{
    display: flex;
}
